li > a:hover {
  background-color: #55d8f2;
  border-radius: 10%;
}

.custom-toggler-icon {
  color: #fff;
  font-size: 28px;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.main {
  padding: 7%;
  padding-bottom: 15%;
}

.title {
  font-size: 500%;
}

.star {
  font-size: 500%;
}

.star-right {
  margin-right: 0%;
}

hr {
  width: 20%;
  margin: 0 auto;
  border-width: thick;
}

.section-title {
  font-size: 300%;
}

.section-title-margin {
  margin: 7% auto;
}

.section-with-subsections {
  margin-bottom: 5%;
}

.section-subtitle-margin {
  margin-bottom: 5%;
}

.section-margin {
  margin-bottom: 15%;
}

.first-row-margin {
  margin-bottom: 7%;
}

.sub-section-margin {
  margin-bottom: 20%;
}

.social {
  font-size: 150%;
}

i {
  font-size: x-large;
}

@media (min-width: 319px) and (max-width: 480px) {
  .title {
    font-size: 200%;
  }

  .star {
    font-size: 200%;
  }

  .star-right {
    margin-right: 5%;
  }
}

@media (min-width: 481px) and (max-width: 1200px) {
  .star-right {
    margin-right: 7.5%;
  }
}
