:root {
  --default: 7%;
  --huge: 500%;
}

footer {
  color: white;
}

hr {
  border-width: thick;
  margin: 0 auto;
  width: 20%;
}

i {
  color: white;
  font-size: x-large;
}

.custom-toggler-icon {
  color: white;
}

.first-row-margin {
  margin-bottom: var(--default);
}

.intro {
  margin-bottom: var(--default);
  padding: var(--default);
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.star {
  color: black;
  font-size: var(--huge);
}

.section-title {
  font-size: 300%;
  margin: var(--default) auto;
}

.section-subtitle-margin {
  margin-bottom: 5%;
}

.section-margin {
  margin-bottom: 15%;
}

.sub-section-margin {
  margin-bottom: 20%;
}

.intro-title {
  font-size: var(--huge);
}

a.nav-link {
  color: white;
}

li > a:hover {
  background-color: #55d8f2;
  border-radius: 10%;
}

@media (min-width: 319px) and (max-width: 480px) {
  .title {
    font-size: 200%;
  }

  .star {
    font-size: 200%;
  }

  .star-right {
    margin-right: 5%;
  }
}

@media (min-width: 481px) and (max-width: 1200px) {
  .star-right {
    margin-right: 7.5%;
  }
}

@media (min-width: 319px) and (max-width: 576px) {
  .intro-title {
    font-size: 400%;
  }

  .star {
    font-size: 400%;
  }

  .section-title-margin {
    margin: 25% auto 30%;
  }

  .section-with-subsections {
    margin-bottom: 15%;
  }

  .section-subtitle-margin {
    margin-bottom: 10%;
  }

  .section-margin {
    margin-bottom: 25%;
  }

  .sub-section-margin {
    margin-bottom: 25%;
  }

  .card-mb-xs {
    margin-bottom: 7%;
  }

  .image-mb-xs {
    margin-bottom: 10%;
  }
}
