li > a:hover {
  background-color: #55d8f2;
  border-radius: 10%;
}

.custom-toggler-icon {
  color: #fff;
  font-size: 28px;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.main {
  padding: 12.5rem;
}

.title {
  font-size: 5rem;
}
